<div class="container">
  <div class="row">
    <!--空欄送信なら下記falseを返す-->
    <% if !(@shops.nil?) %>
      <!--一致するカフェがなければ下記falseで返す-->
      <% if !(@shops.empty?) %>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <i class="fa fa-history"></i><%= link_to "戻る", 'javascript:history.back()' %>
          </tr>
          <tr>
            <td></td>
            <td>店名</td>
            <td>住所</td>
          </tr>
        </thead>
        <tbody>
        <% @shops.each do |shop| %>
          <tr>
            <td>
              <% if shop.shop_images.present? %>
                  <% shop.shop_images.first(1).each do |shop_image| %>
                    <%= attachment_image_tag shop_image, :shop_image, :fill, 200, 200 %>
                  <% end %>
                <% else %>
                    <%= image_tag "no_image.jpg", size: "200x200" %>
                <% end %>&nbsp;&nbsp;
              <%= link_to "詳細画面へ移動", user_shop_path(shop) %>
            </td>
            <td><%= shop.name %></td>
            <td><%= shop.address %></td>
          </tr>
        <% end %>
        	<tr>
      	    <%= paginate @shops %>
      	  </tr>
        </tbody>
      </table>
      <% else %>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr><i class="fa fa-history"></i><%= link_to "戻る", 'javascript:history.back()' %></tr>
        </thead>
        <tbody>
          <tr>
            <td>一致する店名はございません</td>
          </tr>
        </tbody>
      </table>
      <% end %>
    <% else %>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr><i class="fa fa-history"></i><%= link_to "戻る", 'javascript:history.back()' %></tr>
        </thead>
        <tbody>
          <tr>
            <td>キーワードを入れてください</td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>