<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <%= form_with model: @shops, url: user_searches_path, method: :get, local: true do |f| %>
      <table border="1" style="border-collapse: collapse">
<br>
        <thead>
          <p class="text-center">
            地名/ジャンルから検索する<br>
            (選択タブから1つ選択して検索ください)<br>
            <span style="color: red;">※地名とジャンル両方を選択して検索することはできません</span>
          </p>
        </thead>
<br>
      	<tbody>
      	  <tr>
            <i class="fa fa-history"></i><%= link_to "戻る", user_shops_path %>
          </tr>
      		<tr>
      			<td rowspan="3">大阪府</td>
      			<td><%= f.select :select1, [["大阪市北区", "o-kita"], ["豊島区", "toshima"], ["福島区", "fukushima"], ["此花区", "konohana"], ["大阪市中央区", "o-tyuuou"], ["大阪市西区", "o-nisi"], ["港区", "minato"], ["大正区", "taishou"], ["天王寺区", "tennouji"], ["浪速区", "naniwa"], ["西淀川区", "nishiyodogawa"], ["淀川区", "yodogawa"], ["東淀川区", "higashiyodogawa"], ["東成区", "higasinari"], ["生野区", "ikuno"], ["旭区", "asahi"], ["城東区", "joutou"], ["鶴見区", "turumi"], ["阿倍野区", "abeno"], ["住之江区", "suminoe"], ["住吉区", "sumiyoshi"], ["東住之江区", "higashisuminoe"], ["東住吉区", "higashisumiyoshi"], ["平野区", "hirano"], ["西成区", "nishinari"]], include_blank: "大阪市" %></td>
       			<td><%= f.select :select2, [["堺区", "sakai"], ["堺市中区", "o-s-naka"], ["堺市東区", "o-s-higashi"], ["堺市西区", "o-s-s-nishi"], ["堺市南区", "o-s-minami"], ["堺市北区", "o-s-kita"], ["美原区", "mihara"]], include_blank: "堺市" %></td>
      			<td><%= f.select :select3, [["能勢町", "nose"], ["豊能町", "toyono"], ["池田市", "ikeda"], ["箕面市", "minou"], ["豊中市", "toyonaka"]], include_blank: "豊能地域" %></td>
      		</tr>
      		<tr>
      		  <td><%= f.select :select4, [["茨城市", "ibaraki"], ["高槻市", "takatsuki"], ["鳥本町", "shimamoto"], ["吹田市", "suita"], ["摂津市", "settu"]], include_blank: "三島地域" %></td>
      			<td><%= f.select :select5, [["枚方市", "hirakata"], ["交野市", "katano"], ["寝屋川市", "neyagawa"], ["守口市", "moriguchi"], ["門真市", "kadoma"], ["四條畷市", "shijounawate"], ["大東市", "daitou"]], include_blank: "北河内地域" %></td>
      			<td><%= f.select :select6, [["東大阪市", "higashiosaka"], ["八尾市", "yao"], ["柏原市", "kashiwara"]], include_blank: "中河内地域" %></td>
      		</tr>
      		<tr>
      			<td><%= f.select :select7, [["和泉市", "izumi"], ["高石市", "takaishi"], ["泉大津市", "izumiotsu"], ["忠岡市", "tadooka"]], include_blank: "泉北地域" %></td>
      			<td><%= f.select :select8, [["岸和田市", "kishiwada"], ["貝塚市", "kaizuka"], ["熊取町", "kumatori"], ["泉佐野市", "izumisano"], ["田尻町", "tajiri"], ["泉南市", "sennan"], ["阪南市", "hannan"], ["岬町", "misaki"]], include_blank: "泉南地域" %></td>
      			<td><%= f.select :select9, [["松原氏", "matsubara"], ["羽曳野市", "habikino"], ["藤井寺市", "fujidera"], ["太子町", "taishi"], ["河南町", "kanan"], ["千早赤阪村", "tihayaakasaka"], ["富田林市", "tondabayashi"], ["狭山市", "sayama"], ["河内長野市", "kawachinagano"]], include_blank: "南河内地域" %></td>
      		</tr>
      		<tr>
      			<td rowspan="3">京都府</td>
      			<td><%= f.select :select10, [["京都北区", "k-kita"], ["上京区", "kamigyou"], ["左京区", "sakyou"], ["中京区", "nakagyou"], ["東山区", "higashiyama"], ["下京区", "simogyou"], ["京都南区", "k-minami"], ["右京区", "ukyou"], ["伏見区", "fushimi"], ["山科区", "yamashina"], ["西京区", "nishikyou"]], include_blank: "京都市" %></td>
      			<td><%= f.select :select11, [["向日市", "mukou"], ["長岡京市", "nagaokakyou"], ["乙訓群", "otokumi"], ["大山崎町", "oyamasaki"]], include_blank: "乙訓地域" %></td>
      			<td><%= f.select :select12, [["宇治市", "uji"], ["城陽市", "jouyou"], ["八幡市", "hachiman"], ["京田辺市", "kyoutanabe"], ["久世郡", "kuse"], ["久御山町", "kumiyama"], ["綴喜郡", "tuduki"], ["井手町", "ide"], ["宇治田原町", "ujitawara"]], include_blank: "山城中部地域" %></td>
      		</tr>
      		<tr>
      			<td><%= f.select :select13, [["木津川市", "kidugawa"], ["相良群", "sagara"], ["笠置町", "kasagi"], ["和束町", "waduka"], ["精華町", "seika"], ["南山城村", "minamiyamashiro"]], include_blank: "相良地域" %></td>
      			<td><%= f.select :select14, [["亀岡市", "kameoka"], ["南丹市", "nantan"], ["船井郡", "funai"], ["京丹羽町", "kyoutanba"]], include_blank: "中部地域" %></td>
      			<td><%= f.select :select15, [["福知山市", "fukuchiyama"], ["舞鶴市", "maiduru"], ["綾部市", "ayabe"]], include_blank: "中丹地域" %></td>
      		</tr>
      		<tr>
      		  <td><%= f.select :select16, [["宮津市", "miyadu"], ["京丹後市", "kyoutango"], ["与謝郡", "yosa"], ["伊根町", "ine"], ["与謝野町", "yosano"]], include_blank: "丹後地域" %></td>
      		  <td></td>
      		  <td></td>
      		</tr>
      		<tr>
      			<td>ジャンル</td>
      			<td colspan="3">
      			  <%= f.collection_select(:genre, @genres, :id, :name, include_blank: "ジャンルから検索") %>
      			</td>
      		</tr>
      		<tr>
      		  <td></td>
      		  <td colspan="3"><%= f.submit "検索する" %></td>
      		</tr>
      	</tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>