<div class="container">
  <div class="row">
    <div class="card col-sm-6 mx-auto mt-5">
      <div class="card-body">
        <tr>
          <h5 class="text-center" style="color: limegreen"><%= flash[:success] %></h5>
        </tr>

        <tr>
          <i class="fa fa-history"></i><%= link_to "戻る", new_admin_shop_path %>
        </tr>
<br>
        <tr>
          <%= render 'layouts/error_messages', messages: @shop %>
        </tr>
        <h3 class="mt-1 mb-3">登録情報編集</h3>
        <%= form_with model: @shop, url: admin_shop_path(@shop), local:true do |f| %>

        <div class="form-group">
          <%= f.label :shop_image, "写真(追加ではなく上書きします)", :class => "form-label" %>
          <%= f.attachment_field :shop_images_shop_images, multiple: true %>
        </div>

        <div class="form-group">
          <% if @shop.shop_images.present? %>
            <% @shop.shop_images.each do |shop_image| %>
              <%= attachment_image_tag shop_image, :shop_image, :fill, 200, 200 %>
              <%= link_to "削除する", admin_shop_shop_image_path(shop_image.shop.id, shop_image.id), method: :delete %><br>
            <% end %>
          <% else %>
            <%= image_tag "no_image.jpg", size: "200x200" %>
          <% end %>
        </div>




        <div class="form-group">
          <%= f.label :name, "店名", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :name, autocomplete: "name", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction, "お店紹介文", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :introduction, autocomplete: "introduction", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :address, "住所", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :address, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :genre, "ジャンル", :class => "form-label" %>
          <%= f.collection_select(:genre, @genres, :id, :name, autocomplete: "genre_id", :class => "form-control") %>
        </div>

        <div class="form-group">
          <%= f.label :start_business_hours, "営業時間", :class => "form-label" %>
          <%= f.time_select :start_business_hours, autocomplete: "start_business_hours", :class => "form-control" %>~<%= f.time_select :finish_business_hours, autocomplete: "finish_business_hours", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :station, "最寄駅", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :station, autocomplete: "station", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :phone_number, "電話番号(ハイフンなし)", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :phone_number, autocomplete: "phone_number", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :home_page, "ホームページ", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :home_page, autocomplete: "home_page", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :holiday, "休日", :class => "form-label" %>&nbsp;<span class="label label-danger">必須</span>
          <%= f.text_field :holiday, autocomplete: "holiday", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.select :is_active, [["申請中", "申請中"], ["掲載許可", "掲載許可"], ["掲載禁止", "掲載禁止"]] %>
        </div>

        <div class="actions">
          <%= f.submit "更新する", :class => "btn btn-primary btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

