<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table border="1">
        <thead>
          <tr>
            <h5 class="text-center" style="color: limegreen"><%= flash[:success] %></h5>
          </tr>
          <tr>
            <h3 class="text-center">登録済みカフェ一覧</h3>
          </tr>
<br>
          <tr>
            <%= link_to delete_admin_shops_path do %>
              掲載禁止カフェ一覧へ
            <% end %>
          </tr>
          <tr>
            <td>ID</td>
            <td>カフェ名</td>
          </tr>
        </thead>
        <% @shops.each do |shop| %>
          <% if shop.is_active == "掲載許可" %>
          <tbody>
            <tr>
              <td><%= shop.id %></td>
              <td>
                <%= link_to admin_shop_path(shop) do %>
                  <%= shop.name %>
                <% end %>
                <%= link_to "削除", admin_shop_path(shop), method: :delete %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
        <tr>
  	  		<%= paginate @shops %>
  			</tr>
      </table>
    </div>
  </div>
</div>

