<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<table border="1">
				<thead>
					<h3 class="text-center">ブックマーク一覧</h3>
					<tr>
					  <td>カフェ名</td>
					  <td>カフェ写真</td>
					</tr>
				</thead>
				<br><br>
				<% @bookmarks.each do |bookmark| %>
				<tbody>
				  <tr>
				    <th>
				      <%= link_to shop_path(bookmark.shop) do %>
          	    <%= bookmark.shop.name %>
        		  <% end %>
      	    </th>
				    <td>
			    	<% if bookmark.shop.shop_images.present? %>
          		<% bookmark.shop.shop_images.first(1).each do |shop_image| %>
                <%= attachment_image_tag shop_image, :shop_image, size: "200x200" %>
              <% end %>
            <% else %>
              <%= image_tag "no_image.jpg", size: "200x200" %>
            <% end %>
            </td>
				  </tr>
				</tbody>
				<% end %>
				<tr>
    	  	<%= paginate @bookmarks %>
    	  </tr>
			</table>
		</div>
	</div>
</div>
