<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <%= form_with model: @genre, url: admin_genre_path(@genre), local:true do |f| %>
      <table border="1">
        <thead>
          <tr>
            <h3 class="text-center">ジャンル編集</h3>
          </tr>
          <tr>
            <i class="fa fa-history"></i><%= link_to "戻る", admin_genres_path %>
          </tr>
<br>
          <%= render 'layouts/error_messages', messages: @genre %>

        </thead>
<br>
        <tr>
          <td>ジャンル名</td>&nbsp;<span class="label label-danger">必須</span>
          <td><%= f.text_field :name %></td><td><%= f.submit "更新する", :class => "btn btn-primary"  %></td>
        </tr>
      </table>
    <% end %>
    </div>
  </div>
</div>