<div class="container">
  <div class="row">
    <br>
    <%= render "genre.new", genre: @genre %>
    <br>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>ジャンル名</td>
        </tr>
      </thead>
      <% @genres.each do |genre| %>
      <tbody>
        <tr>
          <td><%= genre.id %></td>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre) %></td>
          <td><%= link_to "削除する", admin_genre_path(genre), method: :delete %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>