<div class="row">
  <div class="col-md-9 col-xs-offset-1 text-center">
    <%= form_with url: user_searches_path, method: :get, local: true do |f| %>
      <p>検索したいお店の名前を入力してください</p>
      <%= f.text_field :search %>
      <%= f.select :select, [["羽曳野市", "habikino"], ["藤井寺市", "fujidera"], ["東大阪市", "higashiosaka"]], include_blank: "地名で検索" %>
      <%= f.submit "検索する" %>
    <% end %>

		<h2 class="shop-headline head-line title_h2 text-center">お店一覧
  	  <span>全(<%= @shops.count %>件)</span>
		</h2>
  <div class="clearfix shop-box">
  	 <% @shops.each do |shop| %>
  	  <div class="product-container text-center">
      <%= link_to user_shop_path(shop.id), class: "btn-link", :style=>"color:#0099FF;" do %>
      <div id="img_field" class="product">
      </div>
      <div class="product-name">
        <%= shop.name %>
      </div>
      <% end %>
  	 <% end %>
  </div>
</div>