<div class="container">
  <div class="row">
    <div class="col-md-9 col-xs-offset-1 text-center">
      <%= render "user/searches/search", genres: @genres %>
<br>
  	  <table border="1">
      	<thead>
    	    <h3 class="text-center">カフェ一覧</h3>
      		<tr>
      		  <td>カフェ名</td>
      		  <td>カフェ写真</td>
      		</tr>
      	</thead>
      	<br><br>
      	<% @shops.each do |shop| %>
        	<% if shop.is_active == "掲載許可" %>
        	<tbody>
        		<tr>
        	    <th>
        	      <%= link_to shop_path(shop) do %>
                  <%= shop.name %>
                <% end %>
              </th>
        	    <td>
        	    	<% if shop.shop_images.present? %>
                  <% shop.shop_images.first(1).each do |shop_image| %>
                    <%= attachment_image_tag shop_image, :shop_image, size: "200x200" %>
                  <% end %>
                <% else %>
                    <%= image_tag "no_image.jpg", size: "200x200" %>
                <% end %>
              </td>
        	  </tr>
        	</tbody>
        	<% end %>
      	<% end %>
      	<tr>
      	  <%= paginate @shops %>
      	</tr>
      </table>
    </div>
  </div>
</div>

