<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table border="1">
        <thead>

          <tr>
            <h5 class="text-center" style="color: limegreen"><%= flash[:success] %></h5>
          </tr>

          <h3 class="text-center"><%= @shop.name %>の詳細ページ</h3>
        </thead>
<br>
        <tbody>
          <tr>
            <i class="fa fa-history"></i><%= link_to "検索ページへ戻る", user_shops_path %>&nbsp;
            <i class="fa fa-history"></i><%= link_to "ブックマークページへ戻る", bookmark_user_shops_path %>&nbsp;
            <i class="fa fa-history"></i><%= link_to "ランキングページへ戻る", reviews_user_shops_path %>&nbsp;
          </tr>
          <tr>
            <th>店名</th>
            <td><%= @shop.name %></td>
          </tr>
          <tr>
            <th>お店の紹介文</th>
            <td><%= simple_format(@shop.introduction) %></td>
          </tr>
          <tr>
            <th>お店の写真</th>
            <!--<td><!%= attachment_image_tag @shop, :shop_image, :fill, 300, 300 %></td>-->
            <td>
            <% if @shop.shop_images.present? %>
              <% @shop.shop_images.each do |shop_image| %>
                <%= attachment_image_tag shop_image, :shop_image, :fill, 200, 200 %>
              <% end %>
            <% else %>
                <%= image_tag "no_image.jpg", size: "200x200" %>
            <% end %>
            </td>
          </tr>
          <tr>
            <th>住所</th>
            <td>
            <% if @shop.latitude.present? && @shop.longitude.present? %>
              <script type="text/javascript">
                function initMap() {
              // latitude,longitudeから位置を特定
                  var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
                  var map = new google.maps.Map(document.getElementById('map'), {
                            // 表示領域の大きさを指定
                            zoom: 15,
                            // 初期位置の経度緯度を指定
                            center: test
                            });
                  var transitLayer = new google.maps.TransitLayer();
                  transitLayer.setMap(map);

                  var contentString = '住所：<%= @shop.address %>';
                  var infowindow = new google.maps.InfoWindow({
                    content: contentString
                  });

              // Map上の指定した位置にピンを挿して表示する
                  var marker = new google.maps.Marker({
                                position:test,
                                map: map,
                                title: contentString
                               });

                   marker.addListener('click', function() {
                     infowindow.open(map, marker);
                  });
                }
              </script>

              <!--APIキーを入れている-->
              <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap">
              </script>
              <!--表示するmapのcss-->
              <!--styleタグでマップの大きさを指定している。ここを省いてしまうと地図が表示されない-->
              <style type="text/css">
                #map { height: 200px;
                       width: 70%;}
              </style>

              <!--mapの表示-->
              <div id="map" style="margin: 0 auto;"></div>
              <%= @shop.address %>
            <% else %>
              <p>表示することができません</p>
            <% end %>
            </td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td><%= @shop.genre.name %></td>
          </tr>
          <tr>
            <th>営業時間</th>
             <td><%= @shop.start_business_hours.strftime('%H:%M') %>〜<%= @shop.finish_business_hours.strftime('%H:%M') %></td>
          </tr>
          <tr>
            <th>最寄駅</th>
            <td><%= @shop.station %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @shop.phone_number %></td>
          </tr>
          <tr>
            <th>ホームページ</th>
            <td>
              <% if @shop.home_page == "なし" %>
                なし
              <% else %>
                <%= link_to @shop.home_page do %>
                  <%= @shop.name %>のホームページリンク
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>定休日</th>
             <td><%= @shop.holiday %></td>
          </tr>
          <tr>
          <% if @shop.bookmarked_by?(current_user) %>
            <td><i class="fas fa-check"></i><%= link_to "ブックマークを外す", user_shop_bookmarks_path(@shop.id), method: :delete, :class => "btn btn-primary" %></td>
          <% else %>
            <td><i class="fas fa-check-circle fa-fw fa-lg "></i><%= link_to "ブックマーク", user_shop_bookmarks_path(@shop.id), method: :post, :class => "btn btn-primary" %></td>
          <% end %>
            <td>
            <% if @user.reviews.find_by(shop_id: @shop.id) %>
              評価いただきありがとうございます!
            <% else %>
              <i class="far fa-thumbs-up fa-fw fa-lg faa-tada animated"></i><%= link_to "評価する", new_user_shop_review_path(@shop.id), :class => "btn btn-primary" %>
            <% end %>
            </td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
<br>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <h3 class="text-center">クチコミ</h3>
          </tr>
        </thead>
        <% if @shop.reviews.empty? %>
          <tbody>
            <tr>
              <td>クチコミはありません</td>
            </tr>
          </tbody>
        <% else %>
          <% @shop.reviews.each do |review| %>
          <tbody>
            <tr>
              <th>
                <%= link_to user_user_path(review.user) do %>
                  <%= review.user.name %>さん
                  <% if review.user.gender == "男性" %>
                    (男性)
                  <% else %>
                    (女性)
                  <% end %>

                <% end %>
                <div class="review-rating" data-score="<%= review.rate %>"></div>
              </th>
              <td>
                <%= link_to user_shop_review_path(review) do %>
                  <%= review.title %>
                <% end %>
                <% if review.user == current_user %>
                  <%= link_to "編集する", edit_user_shop_review_path(review) %>
                  <%= link_to "削除する", user_shop_review_path(review.shop, review), method: :delete %>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        <% end %>

        <script>
          $('.review-rating').raty({
            readOnly: true,
            score: function() {
              return $(this).attr('data-score');
            },
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
          });
        </script>
      </table>

<br>

    </div>
  </div>
</div>