<table>
  <tr>
    <td>店名</td>
    <td><%= @shop.name %></td>
  </tr>
  <tr>
    <td>お店の紹介文</td>
    <td><%= @shop.introduction %></td>
  </tr>
  <tr>
    <td>お店の写真</td>
    <td><%= @shop.shop_image %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @shop.address %></td>
  </tr>
  <tr>
    <td>ジャンル</td>
    <td><%= @shop.genre.name %></td>
  </tr>
  <tr>
    <td>営業時間</td>
     <td><%= @shop.start_business_hours %>~<%= @shop.finish_business_hours %></td>
  </tr>
  <tr>
    <td>最寄駅</td>
    <td><%= @shop.station %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @shop.phone_number %></td>
  </tr>
  <tr>
    <td>ホームページ</td>
    <td>
      <%= link_to "https://tabelog.com/kyoto/A2601/A260202/26017496/" do %>
        <%= @shop.home_page %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>休日</td>
     <td><%= @shop.holiday %></td>
  </tr>
  <tr>
  <% if @shop.bookmarked_by?(current_user) %>
    <td><%= link_to "ブックマークを外す", user_shop_bookmarks_path(@shop.id), method: :delete %></td>
  <% else %>
    <td><%= link_to "ブックマークする", user_shop_bookmarks_path(@shop.id), method: :post %></td>
  <% end %>
  </tr>
  <tr>
    <!--route.rbにて、idが含まれていれば、引数が必要-->
    <td><%= link_to "評価する", new_user_shop_review_path(@shop.id) %></td>
  </tr>
</table>

<%= link_to "戻る", user_shops_path %>
<% @shop.reviews.each do |review| %>
<%= review.title %>
<%= review.body %>
<%= review.user.name %>
 <div class="review-rating" data-score="<%= review.rate %>"></div>
<% end %>



<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

<!--一からな無いものを作るより、既成のコードを書いた後に、理解を進めた方がよい-->
<!--巨人の肩に乗る、車輪の再発明をさける-->