<div class="container">
  <div class="row">
    <div class="card col-md-5 mx-auto mt-5" style="margin: 0 auto;">
      <div class="card-body">
        <h3 class="mt-1 mb-3">管理者ログイン</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :name, "名前", :class => "form-label" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "パスワード", :class => "form-label" %>
          <%= link_to "パスワードを忘れた場合", new_user_password_path, :class => "float-right" %>
          <%= f.password_field :password, :class => "form-control" %>
        <% if devise_mapping.rememberable? %>
        <div class="form-check">
          <%= f.check_box :remember_me, :class => "form-check-input" %>
          <%= f.label :remember_me, "　ログインを記憶", :class => "form-check-label" %>
        </div>
        <% end %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", :class => "btn btn-primary btn-block" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
