<nav id="fh5co-main-nav" role="navigation">
<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
<div class="js-fullheight fh5co-table">
	<div class="fh5co-table-cell js-fullheight">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="gallery.html">Gallery</a></li>
			<li><a href="services.html">Services</a></li>
			<li class="active"><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	</div>
</div>
</nav>

<div id="fh5co-page">
<header>
	<div class="container">
		<div class="fh5co-navbar-brand">
			<h1 class="text-center"><a class="fh5co-logo" href="index.html"><i class="icon-camera2"></i></a></h1>
		</div>
	</div>
</header>
<div id="fh5co-intro-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center animate-box">
				<h2 class="intro-heading">About</h2>
				<p><span>CafeWhere</span></p>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center animate-box">
				<div class="about">
					<%= image_tag("pic1.jpg") %>
				</div>
				<div class="desc">
					<h3>たかき</h3>
					<p>自分がカフェ探しをする時にインスタ・Googleマップ・Web検索など色んなアプリを経由して検索しているのですが、アプリを切り替えて検索していることが手間に感じています。<br>
そこで、検索する手間を減らすため今までやっていたことを一つのアプリで検索できるようにしたいと思い、このアプリを作成しました。</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-photos-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<div class="heading-section">
					<h2>たかき's おすすめカフェ6選</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic1.jpg') %>)">
					<div class="desc">
						<h3>カフェ名</h3>
						<span>地名</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic1.jpg') %>)">
					<div class="desc">
						<h3>カフェ名</h3>
						<span>地名</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic1.jpg') %>)">
					<div class="desc">
						<h3>カフェ名</h3>
						<span>4地名</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic1.jpg') %>)">
					<div class="desc">
						<h3>カフェ名</h3>
						<span>地名</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic1.jpg') %>)">
					<div class="desc">
						<h3>カフェ名</h3>
						<span>地名</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic1.jpg') %>)">
					<div class="desc">
						<h3>カフェ名</h3>
						<span>地名</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div id="footer">
		<div class="container">
			<div class="row copy-right">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p>Copyright 2016 Free Html5 <a href="#">Focus</a>. All Rights Reserved. <br>Made with by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash </a></p>
				</div>
			</div>
		</div>
	</div>
</footer>