<div id="fh5co-page">
<header>
	<div class="container">
		<div class="fh5co-navbar-brand">
			<h1 class="text-center"><a class="fh5co-logo" href="index.html"><i class="fa fa-coffee" style="background-image: url(<%= asset_path('') %>)"></i></a></h1>
		</div>
	</div>
</header>
<div id="fh5co-about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center animate-box">
				<div class="about">
					<%= image_tag("pic1.jpg") %>
				</div>
				<div class="desc">
					<h3>このアプリを作った人</h3>
					<p>たかき</p>

					<br><br>


					<h3>このアプリを作り始めた理由</h3>
					<br>
					<p>
						カフェ探しをする時にインスタ・Googleマップ・Web検索など色んなアプリを<br>経由して検索しているのですが、アプリを切り替えて検索していることが手間に
						<br>感じています。
						そこで、検索する手間を減らすため今までやっていたことを<br>
						一つのアプリで検索できるようにしたいと思い、このアプリを作成しました。
					</p>

					<br><br>

					<p>
						また、このアプリに登録されているカフェはユーザー皆様からリクエストを<br>
						いただいたカフェのみ表示しております。<br>
						おすすめのカフェがございましたら
						お気軽にリクエストいただけますと幸いです。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-photos-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center animate-box">
				<div class="heading-section">
					<h3>(勝手に)
					<br><br>
					たかき's おすすめカフェを紹介</h3>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic26.jpg') %>)">
					<div class="desc">
						<h3>カフェ英國屋</h3>
						<span>大阪府大阪市中央区難波３丁目７−１０</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic20.jpg') %>)">
					<div class="desc">
						<h3>MISSLIM</h3>
						<span>京都府京都市上京区伊勢屋町４００</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic19.jpg') %>)">
					<div class="desc">
						<h3>アラビカ</h3>
						<span>京都府京都市東山区星野町８７−５</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic22.jpg') %>)">
					<div class="desc">
						<h3>cafe太陽ノ塔</h3>
						<span>大阪府大阪市北区中崎西２丁目４−３６</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic14.jpg') %>)">
					<div class="desc">
						<h3>茂庵</h3>
						<span>京都府京都市左京区吉田神楽岡町８</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 animate-box">
				<div class="grid-photo" style="background-image: url(<%= asset_path('pic23.jpg') %>)">
					<div class="desc">
						<h3>Fluffy's Cafe</h3>
						<span>京都府京都市中京区新京極東入 裏寺町595−3</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div id="footer">
		<div class="container">
			<div class="row copy-right">
				<div class="col-md-6 col-md-offset-3 text-center">
					<p>Copyright 2016 Free Html5 <a href="#">Focus</a>. All Rights Reserved. <br>Made with by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash </a></p>
				</div>
			</div>
		</div>
	</div>
</footer>