<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<table>
				<thead>
					<h3 class="text-center"><%= @user.name %>さんのユーザー情報</h3>
				</thead>
				<br><br>
				<tbody>
					<tr>
				    <th>氏名</th>
				    <td><%= @user.name %></td>
				  </tr>
				  <tr>
				    <th>住所</th>
				    <td><%= @user.address %></td>
				  </tr>
				  <tr>
				    <th>電話番号</th>
				    <td><%= @user.phone_number %></td>
				  </tr>
				  <tr>
				    <th>メールアドレス</th>
				    <td><%= @user.email %></td>
				  </tr>
				  <tr>
				  	<% if @user == current_user %>
					 		<td><%= link_to "編集する", edit_user_user_path(@user),class: "glyphicon glyphicon-pencil btn btn-success"  %></td>
							<td><%= link_to "パスワードを変更する", edit_user_registration_path, class: "glyphicon glyphicon-pencil btn btn-warning" %></td>
					  <% end %>
				  </tr>
				  <tr>
				  	<td><%= link_to "カフェ登録リクエスト", new_user_shop_path %></td>
				  	<td><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></td>
				  </tr>
				  <tr>
				  	<td><%= link_to "お問い合わせする", new_user_contact_path %></td>
				  </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>





