<div id='hoge'>hoge</div>

<div id="fh5co-photos-section">
	<div class="container">
		<div id="ri-grid" class="ri-grid animate-box">
			<img class="ri-loading-image" src="images/loading.gif"/>
			<ul>
				<li>
					<a href="#">
						<%= image_tag("pic1.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>129 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic2.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>129 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic3.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>129 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic4.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>129 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic5.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>129 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic6.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>128 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic7.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>127 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic8.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>126 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic9.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>125 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic10.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>124 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic11.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>123 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic12.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>122 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic13.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>121 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic14.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>120 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic15.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>129 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic16.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>128 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic17.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>127 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic18.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>126 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic19.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>125 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic20.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>124 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic21.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>123 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic22.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>122 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic23.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>121 Photos</span></h3>
						</div>
					</a>
				</li>
				<li>
					<a href="#">
						<%= image_tag("pic24.jpg") %>/>
						<div class="desc">
							<h3>Album<br><span>121 Photos</span></h3>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<%= link_to "管理者トップページへ", top_admin_users_path %>

<script type="text/javascript">
	$(function() {
		$('#hoge').text('fuga')

	})
	$(function() {
		console.log($('#ri-grid').backgroundsize)

		$( '#ri-grid' ).gridrotator( {
			rows : 3,
			// number of columns
			columns : 6,
			w1024 : { rows : 3, columns : 5 },
			w768 : {rows : 3,columns : 4 },
			w480 : {rows : 3,columns : 3 },
			w320 : {rows : 2,columns : 2 },
			w240 : {rows : 1,columns : 1 },
			preventClick : false
		} );


	});

</script>

