<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<table border="1">
				<thead>
					<h3 class="text-center">人気ランキング(高い順)</h3>
					<tr>
					  <td>評価平均</td>
					  <td>店名</td>
					  <td>評価数</td>
					</tr>
				</thead>
				<br><br>

				<% @average_shops.each do |shop| %>
				  <% if shop.is_active == "掲載許可" %>
				  <tbody>
		          <tr>
		            <th><i class="fas fa-star"></i><%= shop.reviews.average(:rate).to_f.round(1) %></th>
		            <td>
	                <%= link_to user_shop_path(shop) do %>
	                  <%= shop.name %>
	                <% end %>
	                </td>
	              <td>
	            	<%= shop.reviews.count %>
	              </td>
	            </tr>
	          </tbody>
	        <% end %>
        <% end %>
        <tr>
    	  <%= paginate @shops %>
  		</tr>
			</table>
		</div>
	</div>
</div>
