<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <%= render 'layouts/error_messages', messages: @review %>

      <%= form_with model: @review, url: "/user/shops/#{params[:shop_id]}/reviews", local: true do |f| %>
      <table class="contact-form">
        <tr>
          <i class="fa fa-history"></i><%= link_to "戻る", user_shop_path(@shop) %>
        </tr>
        <tr>
          <th>評価</th>
          <td class="field">
            <div id="star"></div>
          </td>
        </tr>
        <tr>
          <th>評価タイトル</th>
          <td><%= f.text_field :title, :class => "form-control", :size => "50x20"  %></td>
        </tr>
        <tr>
          <th>評価本文</th>
          <td><%= f.text_area :body, :class => "form-control", :size => "50x20" %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit "レビュー評価を送信する", :class => "btn btn-primary" %>
          </td>
        </tr>
      </table>
      <% end %>

      <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        scoreName: 'review[rate]'
      });
      </script>
    </div>
  </div>
</div>
